## fc测试

### 主要测试
    1.Post 1KB的sector和256MB的所用时间比
    
    2.Post 1KB/256MB 的sector，随着数量的增加所用时间量的增加是否是稳定比例，划出N-T曲线（N为数量，T为时间）
    

1.PoRep (复制证明)
    
    i7-8700K 12-Processor 3.7GHz: 5min 